<div class="grid-fluid">
    <div class="flash"> {{message}} </div>
    <form ng-submit="login()" id="sign-up-form" class="c4 a4 b4 form">
        <h2>Login</h2>
        <div class="form-field-group">
            <input class="email form-field clearfix" type="email" ng-model="user.email" placeholder="Email">
        </div>
        <div class="form-field-group">
            <input class="password form-field clearfix" type="password" ng-model="user.password" placeholder="Password">
        </div>
        <div class="form-field-group">
            <input id="login" type="submit" class="button button-rounded button-primary" value="Log me in!"/></input> <span>or</span> <a href="/">Sign up</a>
        </div>
    </form>
</div>